APP_NAME="Markdown to SPIP"
APP_ENV=local
APP_KEY=base64:vgGTSHnqZ+6+i2dqADQUn0zo21T1VfTD9S0hPj5gTLk=
APP_DEBUG=true
APP_URL=http://localhost

APP_LOCALE=fr
APP_FALLBACK_LOCALE=fr

APP_MAINTENANCE_DRIVER=file

# Mentions légales — Éditeur
LEGAL_EDITOR_NAME="Votre Nom / Raison sociale"
LEGAL_EDITOR_SIRET="XXX XXX XXX XXXXX"
LEGAL_EDITOR_VAT=
LEGAL_EDITOR_ADDRESS="Adresse complète"
LEGAL_EDITOR_PHONE="+33 X XX XX XX XX"
LEGAL_CONTACT_EMAIL=contact@example.com
SOCIAL_WEBSITE=https://example.com

# Mentions légales — Hébergement
LEGAL_HOSTING_NAME="Nom de l'hébergeur"
LEGAL_HOSTING_ADDRESS="Adresse complète"
LEGAL_HOSTING_PHONE="numéro"
LEGAL_HOSTING_SIRET="XXX XXX XXX XXXXX"

LOG_CHANNEL=stack
LOG_STACK=single
LOG_LEVEL=debug

SESSION_DRIVER=file
SESSION_LIFETIME=120
SESSION_SECURE_COOKIE=false
SESSION_HTTP_ONLY=true
SESSION_SAME_SITE=lax

FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
CACHE_STORE=file
