includes:
    - vendor/larastan/larastan/extension.neon

parameters:

    paths:
        - app/
        - tests/
        - routes/
        - database/
        - resources/
        - config/

    level: 8

#    ignoreErrors:
#        - '#PHPDoc tag @var#'
#
#    excludePaths:
#        - ./*/*/FileToBeExcluded.php
#
#    checkMissingIterableValueType: false

