@import 'tailwindcss';

@variant dark (.dark &);

@source '../**/*.blade.php';
@source '../**/*.js';

@layer base {
    * {
        scrollbar-width: thin;
        scrollbar-color: rgb(148 163 184) transparent;
    }

    .dark * {
        scrollbar-color: rgb(71 85 105) transparent;
    }
}
